{% extends 'computacao/layout.html' %}

{% block main %}


    <main class="col-sm-12">

        <h3>{{ expressao.nome|title }}</h3>

        <p>{{ expressao.descricao }}.</p>

        <table align="center">
            <tr align="left">
                <td>
                    <p> <b>regex da expressao</b></p>
                    <ul>
                    <li>Regex: {{ expressao.print_regex }} </li>


                
                </td>
                
            </tr>
        </table>


        <br>
        <p><b>Validador:</b> Insira uma sequência e verifique se pertence à linguagem que máquina reconhece: </p>
        <form action="{% url 'computacao:DetalhesMaquina' maquina.id %}" method="POST">
            {% csrf_token %}
           <b>{{ form }}</b>
            <input type="submit" value="validar" class="btn btn-success">
        </form>

        {% if resultado != None %}
            {% if resultado == True %}
                <p>A sequência <b>{{ sequencia }}</b> é aceite pela maquina </p>
            {% else %}
                <p>A sequência <b>{{ sequencia }}</b> não é aceite pela maquina </p>
            {% endif %}
        {% else %}
            <br><br>
        {% endif %}


    </main>

{% endblock %}


{% block aside %}
{% endblock %}