{% extends 'computacao/layout.html' %}

{% block main %}

    <main class="col-sm-12 text-center">

        <h3>Regex</h3>
        <a href="{% url 'computacao:NovaExpressao' %}" class="btn btn-success btn-sm btn-block">
            Crie uma regex
        </a>
        <br>
        <p>Apresentam-se em baixo máquinas turing que foram criados.</p>

        <table align="center" class="table" style="max-width:900px">
            <tr>
                <th class="text-center">Diagrama de Estados</th>
                <th class="text-center">Descrição</th>
            </tr>
            {% load static %}
            {% for expressao in ExpressoesRegulares %}
                <tr class="text-left">
                    <td>
                        <a href="{% url 'computacao:DetalhesExpressao' expressao.id %}">
                            {{ expressao.print_regex}}
                        </a>
                    </td>
                    <td style="vertical-align:bottom">
                        <p>{{ expressao.descricao }}</p>
                        <p>
                            <a href="{% url 'computacao:DetalhesExpressao' expressao.id %}" class="btn btn-info  btn-sm">
                                Detalhes
                            </a>
                            <a href="{% url 'computacao:DetalhesExpressao' expressao.id %}" class="btn btn-success  btn-sm">
                                Validar Sequência
                            </a>
                            <a href="{% url 'computacao:EditarExpressao' expressao.id %}" class="btn btn-warning  btn-sm">
                                Editar expressao
                            </a>
                            <a href="{% url 'computacao:ApagaExpressao' expressao.id %}" class="btn btn-danger  btn-sm">
                                Apagar expressao
                            </a>
                        </p>

                    </td>

                </tr>
            {% endfor %}
        </table>

    </main>

{% endblock %}

{% block aside %}
{% endblock %}
