{% extends 'computacao/layout.html' %}

{% block main %}
    <main class="col-sm-6">
        <h3>Regex</h3>
        <p>Pode aqui especificar um novo regex que ficará armazenado na base de dados.</p>

        <form class="form-group" action="{% url 'computacao:NovaExpressao' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-right">
                <a href="{% url 'computacao:ExpressoesRegulares' %}" role="button" class="btn btn-warning">Cancelar</a>
                <input type="submit" class="btn btn-success" value="submeter">
            </div>
        </form>
    </main>
    <aside class="col-sm-6 text-center">
        <br><br><br>
        {% load static %}

        <blockquote class="blockquote">
            <p class="mb-0"><img src="{% static 'computacao/images/turing-machine.png' %}" alt="">
                <br>
                Uma máquina pode fazer o trabalho de cinquenta homens comuns. Nenhuma máquina pode fazer o
                trabalho de um
                homem extraordinário.</p>
            <footer class="blockquote-footer">Elbert Hubbard</footer>
        </blockquote>
    </aside>
{% endblock %}